<footer id="footer">
  <div class="outer">
    <div id="footer-info" class="inner">
      <div id="foot-left">
        <h5>about emblem 21</h5>
        <p>Emblem 21, Inc. is a Californian holding company for subsidiaries, agreements, investments, and partnerships focused on provide autonomous labor technologies and services.</p>
      </div>
      <div id="foot-right">
        <h5>social</h5>
        <div class="w-clearfix footer-link-wrapper">
            <img class="info-icon" src="twtr.svg" width="20"><a class="footer-link" href="https://twitter.com/emblem21CEO">Twitter</a>
        </div>
        <div class="w-clearfix footer-link-wrapper">
            <img class="info-icon" src="linkedin.svg" width="20"><a class="footer-link" href="https://www.linkedin.com/in/emblem21ceo">LinkedIn</a>
        </div>
        <div class="w-clearfix footer-link-wrapper">
            <img class="info-icon" src="github.svg" width="20"><a class="footer-link" href="https://github.com/Emblem21">Github</a>
        </div>
        <div class="w-clearfix footer-link-wrapper">
            <img class="info-icon" src="yt.svg" width="20"><a class="footer-link" href="https://www.youtube.com/channel/UCI5fKxBiFy5klChRsvWsvYQ">YouTube</a>
        </div>
      </div>
    </div>
  </div>
</footer>