$block-caption
  text-decoration: none
  text-transform: uppercase
  letter-spacing: 2px
  color: color-grey
  margin-bottom: 1em
  margin-left: 5px
  line-height: 1em
  text-shadow: 0 1px #fff
  font-weight: bold

$block
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px

$base-style
  h1
    font-size: 2em
  h2
    font-size: 1.5em
  h3
    font-size: 1.3em
  h4
    font-size: 1.2em
  h5
    font-size: 1em
  h6
    font-size: 1em
    color: color-grey
  hr
    border: 1px dashed color-border
  strong
    font-weight: bold
  em, cite
    font-style: italic
  sup, sub
    font-size: 0.75em
    line-height: 0
    position: relative
    vertical-align: baseline
  sup
    top: -0.5em
  sub
    bottom: -0.2em
  small
    font-size: 0.85em
  acronym, abbr
    border-bottom: 1px dotted
  ul, ol, dl
    margin: 0 20px
    line-height: line-height
  ul, ol
    ul, ol
      margin-top: 0
      margin-bottom: 0
  ul
    list-style: disc
  ol
    list-style: decimal
  dt
    font-weight: bold

.section-title-group
  margin-bottom: 60px

.section-heading
  margin-top: 0px
  margin-bottom: 16px

.section-heading.centered
  color: #676770
  font-size: 30px
  font-weight: 300
  text-align: center
  letter-spacing: 2px
  text-transform: uppercase

.section-subheading.center
  color: #8e8e9c
  font-size: 18px
  font-weight: 300
  text-align: center
  letter-spacing: 2px
  text-transform: uppercase

.smallHeight
  min-height: 350px

blurbBox(minHeight)
  padding 25px
  background-color #fff
  text-align center
  min-height minHeight
  &.white
    background-color #fff
    &.border
      border 1px solid #dcebf7
      border-radius 5px
  &.dark
    margin 0 0
    background-color #192024
    color #fff
    &.border
      border 1px solid #fff
      border-radius 5px

.blurbBox
  blurbBox(415px)

.smallBlurbBox
  blurbBox(350px)

.grid-image
  display: block
  width: 35%
  margin: 20px auto
  padding: 20px
  border: 10px solid #48537e
  border-radius: 50%
  background-color: #fff
  box-shadow: 0 0 0 1px #48537e
  color: #48537e

.grid-image-full
  display: block
  width: 100%
  margin: 20px auto

h3
  margin-top: 0px
  margin-bottom: 0px
  color: #676770
  font-size: 20px
  line-height: 30px
  font-weight: 300
  letter-spacing: 2px
  text-transform: uppercase

img
  max-width: 100%
  vertical-align: middle

p
  margin-top: 10px
  margin-bottom: 10px
  font-size: 14px
  line-height: 25px
  font-weight: 300

.section.white
   background-color: #fff

.section.dark
   background-color: #192024