#footer
  background: color-footer-background
  padding: 50px 0
  border-top: 1px solid color-border
  color: color-grey
  a
    text-decoration: none
    &:hover
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 0.85em

#foot-left
  width: 33.33333333%
  float: left
  & p
    margin-top: 10px
    margin-bottom: 10px
    font-size: 14px
    line-height: 25px
    font-weight: 300

#foot-right
  width: 33.33333333%
  float: right

.info-icon
  float: left

.footer-link 
  margin-left: 30px
  color: #fff
  display: block
  margin-bottom: 6px
  padding-bottom: 10px
  border-bottom: 1px solid #d5d5e0
  font-size: 14px
  font-weight: 300
  background-color: transparent
    

h5
  margin-top: 0px
  margin-bottom: 20px
  color: #676770
  font-size: 18px
  line-height: 20px
  font-weight: 300
  letter-spacing: 2px
  text-transform: uppercase

.w-clearfix
  font-family: 'Open Sans', sans-serif
  color: #6a859c
  font-size: 16px
  line-height: 20px
  &:before
    content: " "
    display: table
  &:after
    clear: both
  img
    max-width: 100%
    vertical-align: middle
    display: inline-block
    border: 0
    box-sizing: border-box
