<div class="section">
    <div class="outer">
        <section id="main">
            <section class="archives-wrap">
                <div class="section-title-group"><h2 class="section-heading centered">autonomous labor solutions</h2><div class="section-subheading center">a Robotic workforce is within your reach</div></div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="white-box">
                                <img class="grid-image" src="">
                                <h3>analysis</h3>
                                <p>We analyze your business processes and integrate
                                autonomous labor where it makes sense.</p><br><br>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="white-box">
                                <img class="grid-image" src=""
                                width="210">
                                <h3>integration</h3>
                                <p>We handle the software, hardware,
                                communications, energy, training, legal, and
                                insurance integration for you.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="white-box">
                                <img class="grid-image" src="">
                                <h3>support</h3>
                                <p>Get remote and on-site assistance for any
                                challenges that arises from your robotic
                                workforce.</p><br><br>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </section>
    </div>
</div>
<div class="section white">
</div>