
    <div class="section">
        <div class="outer">
            <section class="archives-wrap">
                <div class="section-title-group">
                    <h2 class="section-heading centered">
                        Autonomous labor solutions
                    </h2>
                    <div class="section-subheading center">
                        A robotic workforce is within your reach
                    </div>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>analysis</h3>
                                <p>We analyze your business processes and
                                integrate autonomous labor where it makes
                                sense.</p><br>
                                <br>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="" width="210">
                                <h3>integration</h3>
                                <p>We handle the software, hardware,
                                communications, energy, training, legal, and
                                insurance integration for you.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>support</h3>
                                <p>Get remote and on-site assistance for any
                                challenges that arises from your robotic
                                workforce.</p><br>
                                <br>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="section white">
        <div class="outer">
            <section class="archives-wrap">
                <div class="section-title-group">
                    <h2 class="section-heading centered">
                        How we can help
                    </h2>
                    <div class="section-subheading center">
                        Managing the future is hard.  We can make it easier by being your robotic workforce department.
                    </div>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>Consultation</h3>
                                <p>We can quickly bring you up to speed on how you business can leverage UAVs, self-driving vehicles, trainable robots, artificial intelligence, augmented reality, and remote labor.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="" width="210">
                                <h3>Waste management</h3>
                                <p>Find additional revenue from your waste stream with our understanding of waste management law and robotic sorting technology.  </p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>construction</h3>
                                <p>Manage your site from any angle.  Verify structural integrity in real-time.  Bring augmented reality apps to your clients for simplified building management.  Add droneports to turn your roof into your most profitable floor.</p>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>mining</h3>
                                <p>Increase the productivity of your entire work space with fully autonomous extraction, transportation, coordination, and monitoring solutions.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="" width="210">
                                <h3>Surveillance</h3>
                                <p>Cover over 3,000 kilometers of range with our fully ITAR-compliant surveillance package, complete with UAVs, communications platforms, data storage, and analysis services.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>Agriculture</h3>
                                <p>Stay up-to-date on the health of your crops throughout the growth cycle.  Future-proof your investment by integrating your data stream into new algorithms as they become available.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="section dark">
        <div class="outer">
            <section class="archives-wrap">
                <div class="section-title-group">
                    <h2 class="section-heading centered">
                        How we do it
                    </h2>
                    <div class="section-subheading center">
                        We handle the network of services, subsidiaries, partnerships, and vendors.  You get a productive workforce.
                    </div>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>BotBot</h3>
                                <p>Enterprise resource management tool designed for robotic workforce management.</p><br>
                                <br>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="" width="210">
                                <h3>CodeOtter</h3>
                                <p>Our Software subsidiary who specializes in robotics, IoT, and scalable architecture.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>FleetFront</h3>
                                <p>Real-time streaming platform for UAVs and IoT.</p><br>
                                <br>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="section">
        <div class="outer">
            <section class="archives-wrap">
                <div class="section-title-group">
                    <h2 class="section-heading centered">
                        Who we've worked with
                    </h2>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>Brandenburg Communications</h3>
                                <p>Exploring ways to merge consumer satellite with real-time UAV video feeds.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="" width="210">
                                <h3>DropIn, Inc.</h3>
                                <p>Solving the architectural, legal, and SOA problems for on-demand labor.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="smallBlurbBox white border smallHeight">
                                <img class="grid-image" src="">
                                <h3>Active9</h3>
                                <p>Discovering video compression algorithms for low-signal environments.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>

    <div class="section white">
        <div class="outer">
            <section class="archives-wrap">
                <div class="section-title-group">
                    <h2 class="section-heading centered">
                        What we're doing next
                    </h2>
                    <div class="section-subheading center">
                        We actively research ways to improve workforce performance and integration across multiple domains
                    </div>
                </div>
                <div class="archives">
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>Dunbar's Ghost</h3>
                                <p>Discovering the relationship between human symbol management and Dunbar's number</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="" width="210">
                                <h3>The Complexity Asset</h3>
                                <p>Addressing the economic consumption and production of complexity to refine automation replacement predictions.</p>
                            </div>
                        </div>
                    </article>
                    <article class="archive-article archive-type-post">
                        <div class="archive-article-inner">
                            <div class="blurbBox dark">
                                <img class="grid-image" src="">
                                <h3>The Capstone Project</h3>
                                <p>Exploring the relationship between sequential networks and theoretical mathematics.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
        </div>
    </div>